<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<div>

			{% include intro-header.html %}

			<div id="intro-banner">
				<h1 class="intro-header">On Programming, Linguistics and Beer</h1>
				<p class="intro-text">And many other things that anyone may find interesting</p>
			</div>

			<div id="intro-posts">
				<div class="wrapper">

				<h1 class="intro-post-header">POSTS</h1>

					<ul class="post-list">
						{% for post in site.posts %}
							<li>
						    	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

						        <h2>    
						        	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						       	</h2>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div id="intro-about">
				<div class="wrapper">
					<h1 class="intro-about-header">About</h1>
				</div>
			</div>

			{% include footer.html %}

		</div>
	</body>
</html>