<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<div>

			{% include intro-header.html %}

			<div id="intro-background">
				<div id="intro-banner">
					<h1 class="intro-header">Stuff</h1>
					<p class="intro-text">Programming, Linguistics, Books, Beers...</p>
				</div>

				<div id="intro-posts">
					<div class="wrapper">

					<h1 class="intro-post-header">Recent Posts</h1>

						<ul class="post-list">
							{% for post in site.posts %}
								<li>
							    	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

							        <h2>    
							        	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
							       	</h2>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			{% include footer.html %}

		</div>
	</body>
</html>